.main_container {
    text-align: center;
    padding: 10px;
    margin: 50px auto;
    width: 95%;
    border-radius: 6px;
    background-color: #DFDCE3;
}

.intro {
    text-decoration: underline;
    padding: 25px;
    margin: 0 auto;
    color: black;
    width: fit-content;
    border-radius: 6px;
}

.total_medals, .medal_breakdown, .participants_breakdown {
    margin: 0px auto;
    width: 90%;
}

.total_medals, .medal_breakdown, .participants_breakdown, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 25px;
}

.description {
    padding-top: 50px;
    margin: 0 auto;
    color: black;
    width: fit-content;
    border-radius: 6px;
}

.table_1, .table_2, .table_3 {
    padding: 20px;
}

